<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162033661894-763nevu2856e1d9j85j050bf0gjf4u87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162033661894-763nevu2856e1d9j85j050bf0gjf4u87</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>162033661894-t2pdjohqvtqohj3rjcmjtnknrecmrtt0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_IIdup_OjoltXGO9q0QzZDhDg5uQog4s</string>
	<key>GCM_SENDER_ID</key>
	<string>162033661894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luxsmart.controller</string>
	<key>PROJECT_ID</key>
	<string>luxsmartcontroller-196104</string>
	<key>STORAGE_BUCKET</key>
	<string>luxsmartcontroller-196104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162033661894:ios:ad01123d950787ef</string>
	<key>DATABASE_URL</key>
	<string>https://luxsmartcontroller-196104.firebaseio.com</string>
</dict>
</plist>